.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 2;
    padding: 0 20px;
}
a {
    text-decoration: none;
    color: #fff;
}
.section-padding{
    padding: 0px 20px;
}
.desktop-view{
    display: none;
}


.hamburger{
    width: 100%;

}

.mobile-menu {
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    transition: all .5s ease;
}

.mobile-menu p{
    color: #fff;
    padding: 20px 100px;

}

.menu-item{
    display: flex;
    transform: translateY(-270px);
    opacity: 0;
    transition: all .8s ease .1s;
}

.second {
    transition: all .8s ease .2s;
}

.hamburger-div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.spin {
    transform: rotate(90deg);
}
.spin .dis{
    display: none;
}

.spin .spins{
    transform: rotate(45deg) translateY(4px);
}
.spin .spins-i{
    transform: rotate(-45deg) translateY(-4px);
}



.ham {
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    margin: 2px 0;
    transition: all .5s ease;
}

.clicked {
    top: 0;
}

.clicked .menu-item {
    transform: translateY(0px);
    display: block;
    opacity: 1;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

@media screen and (min-width: 900px){
    .logo {
        font-size: 24px;
        font-weight: bold;
    }
    .desktop-view{
        display: flex;
    }
    .mobile-view{
        display: none;
    }
    .section-padding{
        padding: 0px 80px;
    }
}