.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1;
}
a {
    text-decoration: none;
    color: #fff;
}
.section-padding{
    padding: 0px 20px;
}
.desktop-view{
    display: none;
}
.hamburger-div{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hamburger{
    width: 100%;

}

@media screen and (min-width: 900px){
    .desktop-view{
        display: flex;
    }
    .mobile-view{
        display: none;
    }
}