.mockups {
    background-color: #fff;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px 25px 30px 25px;
    margin: 0;
}
.carousel-img {
    margin: 0 30px;
}
@media screen and (min-width: 800px){
    .mockups {

        justify-content: center;
        flex-wrap: wrap;
        padding: 50px 100px 30px 100px;
    }
    .carousel-img {
        margin: 10px 10px;
    }
}