.hifi-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hifi-screen img{
    width: 150px;
    margin: 0 20px;
}
.hifi-screen p{
    text-align: center;
    margin-top: 10px;
    color: #000;
}