.div-carousel {
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px 25px 30px 25px;
    margin: 0;
}

@media screen and (min-width: 800px){
    .div-carousel {
        flex-wrap: wrap;
        padding: 50px 100px 30px 100px;
    }
    
}