.card {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
    padding: 50px 50px 0 50px;
    width: 100%;
    overflow: hidden;
    /* max-width: 700px; */
    border: none;
    border-radius: 15px;
}

.proj-text{
    font-size: 13px;
    color: #fff;
    text-align: left;
}
.card-intro{
    width: 100%;
}

h3{
    text-align: left;
}
.card-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* height: 40px; */
    /* background-color: yellow; */
    margin: 25px auto 0px;
    
}
.card-img > img {
    width: 100%;
}