.mainpage {
    margin: 120px 0 0 0;
}
.hero-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.hero-h1-text{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 0 0 16px 0;
}
.hero-text {
    width: 290px;
    margin: 0 0 51px 0;
}
.hero-img{
    width: 100%;
}
.heroimg-mobile{
    width: 100%;
}

.for{
    color: #A35BDA;  /* fallback for old browsers */ 
}
.all{
    color: #3DBBE6;  /* fallback for old browsers */
    
}