.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 34px 0;
}

.case-study-cont {
    background-color: #fff;
    color: #000;
}



/* banner style */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 150px 50px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    overflow: hidden;
}
.banner-img1{
    position: absolute;
    width: 159px;
    top: -190px;
    right: 30px;
    transform: rotate(20deg);
}
.banner-img2{
    position: absolute;
    width: 159px;
    bottom: -190px;
    left: 30px;
    transform: rotate(-20deg);
}


.sec-theme{
    background-color: #fff;
    color: #000;
}

/* Main case study */

.list {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    text-align: left;
}
.list ul {
    margin: 20px 0;
}
.list ol {
    margin: 20px 0;
    padding: 0 20px;
}
.questions {
    margin-bottom: 40px;
}
.project-img{
    width: 100%;
    margin: 0px;
    padding: 20px;
}