* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Grifter';
  src: url(./assets/grifterbold.otf);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
h1{
  font-size: 32px;
  font-family: 'Grifter', sans-serif;
}
h2{
  font-size: 24px;
  font-family: 'Grifter';
}
h3{
  font-size: 20px;
  font-weight: 700;
}
p{
  /* font-family: ; */
  font-size: 16px;
}



.gradient{
  background: #A35BDA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A35BDA, #3DBBE6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A35BDA, #3DBBE6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip : text;
  -moz-background-clip : text;
  -webkit-text-fill-color : transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
}
.primary-btn{
  background: #A35BDA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A35BDA, #3DBBE6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A35BDA, #3DBBE6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-size: 100%;
  -webkit-background-clip : text;
  -moz-background-clip : text;
  -webkit-text-fill-color : transparent;
  -moz-text-fill-color: transparent;
  background-clip: text; */
  /* height: 67px;
  width: 197px; */
  width: fit-content;
  padding: 15px 40px;
  border-radius: 23px;
  border-top-left-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
